##### This project aims to explore the Sales data to understand top performing products, sales trend of of different products, customer behaviour. The aims is to study how sales strategies can be improved and optimized.

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:qwer1234@localhost:3306/sales

In [3]:
%sql SELECT * FROM cst_data LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/sales
10 rows affected.

[('AS-10240', "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale', 'Florida', 33311, 'South'),
 ('AS-10241', 'Brosina Hoffman', 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West'),
 ('AS-10242', 'Irene Maddox', 'Consumer', 'United States', 'Seattle', 'Washington', 98103, 'West'),
 ('AS-10243', 'Zuschuss Donatelli', 'Consumer', 'United States', 'San Francisco', 'California', 94109, 'West'),
 ('AS-10244', 'Sandra Flanagan', 'Consumer', 'United States', 'Philadelphia', 'Pennsylvania', 19140, 'East'),
 ('AS-10245', 'Tracy Blumstein', 'Consumer', 'United States', 'Philadelphia', 'Pennsylvania', 19140, 'East'),
 ('AS-10246', 'Tracy Blumstein', 'Consumer', 'United States', 'Philadelphia', 'Pennsylvania', 19140, 'East'),
 ('AS-10247', 'Steve Nguyen', 'Home Office', 'United States', 'Houston', 'Texas', 77041, 'Central'),
 ('AS-10248', 'Erin Smith', 'Corporate', 'United States', 'Melbourne', 'Florida', 32935, 'South'),
 ('AS-10249', 'Lena Hernandez', 'Consumer', 'United States', 'Dover', 'Delaware', 19901, 'East')]

In [4]:
%sql SELECT * FROM order_data LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/sales
10 rows affected.

[('AS-10240', '10/11/2015', '10/18/2015', 'Standard Class', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 1002),
 ('AS-10241', '6/9/2014', '6/14/2014', 'Standard Class', 'OFF-BI-10003910', 'Office Supplies', 'Binders', 'DXL Angle-View Binders with Locking Rings by Samsill', 2532),
 ('AS-10242', '12/5/2016', '12/10/2016', 'Standard Class', 'OFF-BI-10003656', 'Office Supplies', 'Binders', 'Fellowes PB200 Plastic Comb Binding Machine', 4131),
 ('AS-10243', '8/27/2014', '9/1/2014', 'Second Class', 'OFF-AR-10003056', 'Office Supplies', 'Art', 'Newell 341', 2140),
 ('AS-10244', '7/16/2017', '7/18/2017', 'Second Class', 'FUR-CH-10002774', 'Furniture', 'Chairs', 'Global Deluxe Stacking Chair, Gray', 4984),
 ('AS-10245', '9/17/2015', '9/21/2015', 'Standard Class', 'OFF-BI-10000474', 'Office Supplies', 'Binders', 'Avery Recycled Flexi-View Covers for Binding Systems', 3527),
 ('AS-10246', '9/17/2015', '9/21/2015', 'Standard Class', 'OFF-AR-10001683', 'Office Supplies', 'Art', 'Lumber Crayons', 1050),
 ('AS-10247', '12/27/2015', '12/31/2015', 'Standard Class', 'FUR-BO-10002545', 'Furniture', 'Bookcases', 'Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors', 4151),
 ('AS-10248', '9/19/2017', '9/23/2017', 'Standard Class', 'OFF-ST-10003282', 'Office Supplies', 'Storage', 'Advantus 10-Drawer Portable Organizer, Chrome Metal Frame, Smoke Drawers', 2577),
 ('AS-10249', '6/20/2016', '6/25/2016', 'Standard Class', 'TEC-PH-10003988', 'Technology', 'Phones', 'LF Elite 3D Dazzle Designer Hard Case Cover, Lf Stylus Pen and Wiper For Apple Iphone 5c Mini Lite', 3242)]

In [5]:
%%sql
DESCRIBE order_data;

 * mysql+pymysql://root:***@localhost:3306/sales
9 rows affected.

[('cst_id', 'varchar(8)', 'NO', 'PRI', None, ''),
 ('order_date', 'varchar(14)', 'NO', '', None, ''),
 ('ship_date', 'varchar(14)', 'NO', '', None, ''),
 ('ship_mode', 'varchar(14)', 'NO', '', None, ''),
 ('item_id', 'varchar(15)', 'NO', '', None, ''),
 ('category', 'varchar(15)', 'NO', '', None, ''),
 ('sub_category', 'varchar(11)', 'NO', '', None, ''),
 ('itemt_name', 'varchar(127)', 'NO', '', None, ''),
 ('Price', 'int', 'NO', '', None, '')]

##### - Changing the data type of "order_date" & "ship_date" columns from VARCHAR to DATE

In [8]:
%%sql
UPDATE order_data
    SET order_date = CASE 
    WHEN order_date LIKE '%/%' THEN str_to_date(order_date, '%m/%d/%Y')
    ELSE NULL
END;

 * mysql+pymysql://root:***@localhost:3306/sales
9994 rows affected.

[]

In [9]:
%%sql
ALTER TABLE order_data
MODIFY COLUMN  order_date DATE;

 * mysql+pymysql://root:***@localhost:3306/sales
9994 rows affected.

[]

In [10]:
%%sql
UPDATE order_data
    SET ship_date = CASE 
    WHEN ship_date LIKE '%/%' THEN str_to_date(ship_date, '%m/%d/%Y')
    ELSE NULL
END;

 * mysql+pymysql://root:***@localhost:3306/sales
9994 rows affected.

[]

In [11]:
%%sql
ALTER TABLE order_data
MODIFY COLUMN  ship_date DATE;

 * mysql+pymysql://root:***@localhost:3306/sales
9994 rows affected.

[]

In [12]:
%%sql
DESCRIBE order_data;

 * mysql+pymysql://root:***@localhost:3306/sales
9 rows affected.

[('cst_id', 'varchar(8)', 'NO', 'PRI', None, ''),
 ('order_date', 'date', 'YES', '', None, ''),
 ('ship_date', 'date', 'YES', '', None, ''),
 ('ship_mode', 'varchar(14)', 'NO', '', None, ''),
 ('item_id', 'varchar(15)', 'NO', '', None, ''),
 ('category', 'varchar(15)', 'NO', '', None, ''),
 ('sub_category', 'varchar(11)', 'NO', '', None, ''),
 ('itemt_name', 'varchar(127)', 'NO', '', None, ''),
 ('Price', 'int', 'NO', '', None, '')]

## The answers of the Generic Questions:

#### 1- How many unique cities does the data have?

In [15]:
%%sql
SELECT 
    COUNT(DISTINCT city) AS Number_of_unique_cities
FROM CST_data;

 * mysql+pymysql://root:***@localhost:3306/sales
1 rows affected.

[(531,)]

#### 2- How many unique categories does the data have?

In [16]:
%%sql
SELECT 
    COUNT(DISTINCT category) AS Number_of_unique_categories
FROM order_data;

 * mysql+pymysql://root:***@localhost:3306/sales
1 rows affected.

[(3,)]

In [19]:
%%sql
SELECT 
    category,
    COUNT(DISTINCT category) AS Number_of_unique_categories
FROM order_data
GROUP BY category;

 * mysql+pymysql://root:***@localhost:3306/sales
3 rows affected.

[('Furniture', 1), ('Office Supplies', 1), ('Technology', 1)]

# The answers related to the Product:

#### 1- How many unique sub-category does the data have?

In [17]:
%%sql
SELECT COUNT(DISTINCT sub_category) AS Number_of_unique_sub_category
FROM order_data;

 * mysql+pymysql://root:***@localhost:3306/sales
1 rows affected.

[(17,)]

In [20]:
%%sql
SELECT 
    sub_category,
    COUNT(DISTINCT sub_category) AS Number_of_unique_sub_category
FROM order_data
GROUP BY sub_category;

 * mysql+pymysql://root:***@localhost:3306/sales
17 rows affected.

[('Accessories', 1),
 ('Appliances', 1),
 ('Art', 1),
 ('Binders', 1),
 ('Bookcases', 1),
 ('Chairs', 1),
 ('Copiers', 1),
 ('Envelopes', 1),
 ('Fasteners', 1),
 ('Furnishings', 1),
 ('Labels', 1),
 ('Machines', 1),
 ('Paper', 1),
 ('Phones', 1),
 ('Storage', 1),
 ('Supplies', 1),
 ('Tables', 1)]

#### 2- What is the highest-selling category?

In [27]:
%%sql
SELECT 
    category,
    SUM(Price) AS sum_of_the_sales
FROM order_data
GROUP BY category
ORDER BY sum_of_the_sales DESC;

 * mysql+pymysql://root:***@localhost:3306/sales
3 rows affected.

[('Office Supplies', Decimal('17979652')),
 ('Furniture', Decimal('6398355')),
 ('Technology', Decimal('5582470'))]

#### 3- What is the highest-selling sub-category?

In [30]:
%%sql
SELECT 
    sub_category,
    SUM(Price) AS sum_of_the_sales
FROM order_data
WHERE category = 'Office Supplies'
GROUP BY sub_category
ORDER BY sum_of_the_sales DESC;

 * mysql+pymysql://root:***@localhost:3306/sales
9 rows affected.

[('Binders', Decimal('4508239')),
 ('Paper', Decimal('4119284')),
 ('Storage', Decimal('2585972')),
 ('Art', Decimal('2369714')),
 ('Appliances', Decimal('1407928')),
 ('Labels', Decimal('1085453')),
 ('Envelopes', Decimal('746087')),
 ('Fasteners', Decimal('623553')),
 ('Supplies', Decimal('533422'))]

#### 4- What is the total sales by Segment?
##### In this question I used JOIN to be able to get the "segmant" from the "cst_data" and the "price" from the "order_data"

In [41]:
%%sql
SELECT
    cd.segment,
    SUM(price) AS sum_of_the_sales
FROM 
    cst_data AS cd
INNER JOIN 
    order_data AS od
ON 
    cd.cst_id = od.cst_id
GROUP BY 
    cd.segment
ORDER BY 
    sum_of_the_sales DESC;

 * mysql+pymysql://root:***@localhost:3306/sales
3 rows affected.

[('Consumer', Decimal('15595068')),
 ('Corporate', Decimal('8979528')),
 ('Home Office', Decimal('5385881'))]

#### 5- What is the top 5 cities that have the largest revenue?

In [44]:
%%sql
SELECT
    city,
    SUM(price) AS sum_of_the_sales
FROM 
    cst_data AS cd
INNER JOIN 
    order_data AS od
ON 
    cd.cst_id = od.cst_id
GROUP BY 
    cd.city
ORDER BY 
    sum_of_the_sales DESC
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/sales
5 rows affected.

[('New York City', Decimal('2733896')),
 ('Los Angeles', Decimal('2224726')),
 ('Philadelphia', Decimal('1637150')),
 ('San Francisco', Decimal('1552961')),
 ('Seattle', Decimal('1244495'))]

#### 6- What is the most selling product?

In [52]:
%%sql
SELECT
    item_name,
    SUM(price) AS sum_of_the_sales
FROM 
    cst_data AS cd
INNER JOIN 
    order_data AS od
ON 
    cd.cst_id = od.cst_id
GROUP BY 
    item_name
ORDER BY 
    sum_of_the_sales DESC
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/sales
20 rows affected.

[('Staples', Decimal('138908')),
 ('Staple envelope', Decimal('137624')),
 ('Easy-staple paper', Decimal('134502')),
 ('Avery Non-Stick Binders', Decimal('64430')),
 ('Storex Dura Pro Binders', Decimal('61287')),
 ('Staple-based wall hangings', Decimal('59879')),
 ('KI Adjustable-Height Table', Decimal('54425')),
 ('Staple remover', Decimal('52482')),
 ('Logitech 910-002974 M325 Wireless Mouse for Web Scrolling', Decimal('49910')),
 ('Staples in misc. colors', Decimal('49416')),
 ("Global Wood Trimmed Manager's Task Chair, Khaki", Decimal('48611')),
 ('Chromcraft Round Conference Tables', Decimal('47251')),
 ('Staple holder', Decimal('46085')),
 ('GBC Instant Report Kit', Decimal('44659')),
 ('Eldon Wave Desk Accessories', Decimal('43242')),
 ('Ibico Plastic Spiral Binding Combs', Decimal('42852')),
 ('Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back', Decimal('41117')),
 ('Xerox 1881', Decimal('40321')),
 ('Avery File Folder Labels', Decimal('38828')),
 ('Tennsco Double-Tier Lockers', Decimal('38483'))]

#### 7- Fetch each product name and add a column to those product line showing "Good", "Bad". Good if its greater than average sales

In [54]:
%%sql
SELECT 
    item_name, price, avg_price,
    CASE
        WHEN price > avg_price THEN 'Good'
        ELSE 'Bad'
    END AS good_or_bad
FROM ( SELECT item_name, AVG(price) OVER () AS avg_price, price FROM order_data) AS subquery
GROUP BY item_name, price
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/sales
20 rows affected.

[('Bretford CR4500 Series Slim Rectangular Table', 1002, Decimal('2997.8464'), 'Bad'),
 ('DXL Angle-View Binders with Locking Rings by Samsill', 2532, Decimal('2997.8464'), 'Bad'),
 ('Fellowes PB200 Plastic Comb Binding Machine', 4131, Decimal('2997.8464'), 'Good'),
 ('Newell 341', 2140, Decimal('2997.8464'), 'Bad'),
 ('Global Deluxe Stacking Chair, Gray', 4984, Decimal('2997.8464'), 'Good'),
 ('Avery Recycled Flexi-View Covers for Binding Systems', 3527, Decimal('2997.8464'), 'Good'),
 ('Lumber Crayons', 1050, Decimal('2997.8464'), 'Bad'),
 ('Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors', 4151, Decimal('2997.8464'), 'Good'),
 ('Advantus 10-Drawer Portable Organizer, Chrome Metal Frame, Smoke Drawers', 2577, Decimal('2997.8464'), 'Bad'),
 ('LF Elite 3D Dazzle Designer Hard Case Cover, Lf Stylus Pen and Wiper For Apple Iphone 5c Mini Lite', 3242, Decimal('2997.8464'), 'Good'),
 ('Advantus Push Pins', 1249, Decimal('2997.8464'), 'Bad'),
 ('Array Parchment Paper, Assorted Colors', 2968, Decimal('2997.8464'), 'Bad'),
 ('Acco PRESSTEX Data Binder with Storage Hooks, Dark Blue, 14 7/8" X 11"', 3738, Decimal('2997.8464'), 'Good'),
 ('netTALK DUO VoIP Telephone Service', 2172, Decimal('2997.8464'), 'Bad'),
 ('Tenex Traditional Chairmats for Medium Pile Carpet, Standard Lip, 36" x 48"', 3429, Decimal('2997.8464'), 'Good'),
 ('Eldon Expressions Desk Accessory, Wood Pencil Holder, Oak', 3957, Decimal('2997.8464'), 'Good'),
 ("Jet-Pak Recycled Peel 'N' Seal Padded Mailers", 4623, Decimal('2997.8464'), 'Good'),
 ('Eldon Portable Mobile Manager', 3874, Decimal('2997.8464'), 'Good'),
 ('Seth Thomas 13 1/2" Wall Clock', 3058, Decimal('2997.8464'), 'Good'),
 ('Fellowes Basic Home/Office Series Surge Protectors', 3596, Decimal('2997.8464'), 'Good')]

## The answers that related to the Sales

#### 1- What is the number of orders made per month, and which month has the highest number of orders?

##### In this question I created a new column called month_name and updated it based on the order_date

In [55]:
%%sql
ALTER TABLE order_data
ADD COLUMN month_name VARCHAR(10);

 * mysql+pymysql://root:***@localhost:3306/sales
0 rows affected.

[]

In [58]:
%%sql
UPDATE order_data
SET month_name = MONTHNAME(order_date);

 * mysql+pymysql://root:***@localhost:3306/sales
9994 rows affected.

[]

In [60]:
%sql SELECT * FROM order_data LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/sales
10 rows affected.

[('AS-10240', datetime.date(2015, 10, 11), datetime.date(2015, 10, 18), 'Standard Class', 'FUR-TA-10000577', 'Furniture', 'Tables', 'Bretford CR4500 Series Slim Rectangular Table', 1002, 'October'),
 ('AS-10241', datetime.date(2014, 6, 9), datetime.date(2014, 6, 14), 'Standard Class', 'OFF-BI-10003910', 'Office Supplies', 'Binders', 'DXL Angle-View Binders with Locking Rings by Samsill', 2532, 'June'),
 ('AS-10242', datetime.date(2016, 12, 5), datetime.date(2016, 12, 10), 'Standard Class', 'OFF-BI-10003656', 'Office Supplies', 'Binders', 'Fellowes PB200 Plastic Comb Binding Machine', 4131, 'December'),
 ('AS-10243', datetime.date(2014, 8, 27), datetime.date(2014, 9, 1), 'Second Class', 'OFF-AR-10003056', 'Office Supplies', 'Art', 'Newell 341', 2140, 'August'),
 ('AS-10244', datetime.date(2017, 7, 16), datetime.date(2017, 7, 18), 'Second Class', 'FUR-CH-10002774', 'Furniture', 'Chairs', 'Global Deluxe Stacking Chair, Gray', 4984, 'July'),
 ('AS-10245', datetime.date(2015, 9, 17), datetime.date(2015, 9, 21), 'Standard Class', 'OFF-BI-10000474', 'Office Supplies', 'Binders', 'Avery Recycled Flexi-View Covers for Binding Systems', 3527, 'September'),
 ('AS-10246', datetime.date(2015, 9, 17), datetime.date(2015, 9, 21), 'Standard Class', 'OFF-AR-10001683', 'Office Supplies', 'Art', 'Lumber Crayons', 1050, 'September'),
 ('AS-10247', datetime.date(2015, 12, 27), datetime.date(2015, 12, 31), 'Standard Class', 'FUR-BO-10002545', 'Furniture', 'Bookcases', 'Atlantic Metals Mobile 3-Shelf Bookcases, Custom Colors', 4151, 'December'),
 ('AS-10248', datetime.date(2017, 9, 19), datetime.date(2017, 9, 23), 'Standard Class', 'OFF-ST-10003282', 'Office Supplies', 'Storage', 'Advantus 10-Drawer Portable Organizer, Chrome Metal Frame, Smoke Drawers', 2577, 'September'),
 ('AS-10249', datetime.date(2016, 6, 20), datetime.date(2016, 6, 25), 'Standard Class', 'TEC-PH-10003988', 'Technology', 'Phones', 'LF Elite 3D Dazzle Designer Hard Case Cover, Lf Stylus Pen and Wiper For Apple Iphone 5c Mini Lite', 3242, 'June')]

In [63]:
%%sql
SELECT
 month_name,
 COUNT(month_name) AS number_of_orders
FROM order_data
GROUP BY month_name
ORDER BY number_of_orders DESC;

 * mysql+pymysql://root:***@localhost:3306/sales
12 rows affected.

[('November', 1471),
 ('December', 1408),
 ('September', 1383),
 ('October', 819),
 ('May', 735),
 ('June', 717),
 ('July', 710),
 ('August', 706),
 ('March', 696),
 ('April', 668),
 ('January', 381),
 ('February', 300)]

#### 2- Which of the ship mode brings in the most revenue?

In [64]:
%%sql
SELECT 
 ship_mode,
 SUM(price) AS sum_of_sales
FROM order_data
GROUP BY ship_mode
ORDER BY sum_of_sales DESC;

 * mysql+pymysql://root:***@localhost:3306/sales
4 rows affected.

[('Standard Class', Decimal('17872498')),
 ('Second Class', Decimal('5857102')),
 ('First Class', Decimal('4610446')),
 ('Same Day', Decimal('1620431'))]

#### 3- Which Region has the lowest sales?

In [68]:
%%sql
SELECT 
    region,
    SUM(price) AS sum_of_sales
FROM cst_data cd
INNER JOIN order_data od
ON cd.cst_id = od.cst_id
GROUP BY region
ORDER BY sum_of_sales ASC;

 * mysql+pymysql://root:***@localhost:3306/sales
4 rows affected.

[('South', Decimal('4866673')),
 ('Central', Decimal('6957933')),
 ('East', Decimal('8601416')),
 ('West', Decimal('9534455'))]

#### 4- What is the average pay for the customers in California, New York, and Texas?

In [79]:
%%sql
SELECT
    state,
    AVG(price) AS avg_sales
FROM cst_data cd
INNER JOIN order_data od
ON cd.cst_id = od.cst_id
WHERE state IN ('California','New York','Texas')
GROUP BY state
ORDER BY state ASC;

 * mysql+pymysql://root:***@localhost:3306/sales
3 rows affected.

[('California', Decimal('2998.9420')),
 ('New York', Decimal('3010.4291')),
 ('Texas', Decimal('2971.9553'))]

## The answers that related to the Customers

#### 1- How many unique customer names does the data have?

In [82]:
%%sql
SELECT 
    COUNT(DISTINCT cst_name) AS number_of_unique_names
FROM cst_data;

 * mysql+pymysql://root:***@localhost:3306/sales
1 rows affected.

[(793,)]

#### 2- What segment of the customer has the highest count of orders?

In [84]:
%%sql
SELECT
    segment,
    COUNT(segment) AS count_of_orders_per_segment
FROM cst_data
GROUP BY segment
ORDER BY count_of_orders_per_segment DESC;

 * mysql+pymysql://root:***@localhost:3306/sales
3 rows affected.

[('Consumer', 5191), ('Corporate', 3020), ('Home Office', 1783)]